@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes changeColor {
  0% {
    fill: #225c6d; }
  20% {
    fill: #51c3d8; }
  40% {
    fill: #2e7789; }
  80% {
    fill: #2e7789; }
  100% {
    fill: #225c6d; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 0rem; }

a {
  text-decoration: none;
  cursor: pointer; }

body {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #133839;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    text-align: center;
    animation-name: moveInLeft;
    animation-duration: 1.5s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1.5s ease-out; }

.heading-secondary {
  font-size: 2.5rem;
  text-transform: uppercase;
  display: inline-block;
  background-image: linear-gradient(to right, #133839, #225c6d);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s;
  font-family: "Libre Franklin", sans-serif; }
  .heading-secondary:hover {
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 16px; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 2rem !important; }

.u-margin-bottom-big {
  margin-bottom: 4rem !important; }

.u-margin-top-big {
  margin-top: 4rem !important; }

.u-margin-top-huge {
  margin-top: 8rem !important; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .15;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.button, .button:link, .button:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 16px;
  border: none;
  cursor: pointer; }

.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .button:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.button:active, .button:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.button--green {
  background-color: #133839;
  color: #fff; }
  .button--green::after {
    background-color: #133839; }

.button--blue {
  background-color: #2e7789;
  color: #fff; }
  .button--blue::after {
    background-color: #2e7789; }

.button::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.button-text:link, .button-text:visited {
  font-size: 16px;
  color: #133839;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #133839;
  padding: 3px;
  transition: all .2s;
  padding: 8px; }

.button-text:hover {
  border-radius: 8px;
  background-color: #133839;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.button-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.event-card {
  width: 400px;
  transition: all 0.8s ease-in-out !important; }
  .event-card:hover {
    transform: translateY(-2rem) scale(1.1);
    box-shadow: 0 2px 8px rgba(119, 119, 119, 0.5); }

.feature-card {
  width: 15rem;
  height: 15rem;
  border-radius: 25px;
  border: 2px solid #777;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0;
  margin: 1rem;
  transition: all .8s ease; }
  .feature-card:hover {
    background: #2e7789;
    transform: translateY(-1rem);
    box-shadow: 0 1rem 2rem #333;
    border: none; }
    .feature-card:hover > * {
      fill: #fff;
      color: #fff; }
  .feature-card__icon {
    width: 10rem;
    fill: #2e7789;
    transition: all .8s ease; }
  .feature-card__text {
    text-transform: uppercase;
    font-family: "Anton", sans-serif;
    font-size: 1rem;
    letter-spacing: 5px;
    transition: all .8s ease; }

.form__group:not(:last-child) {
  margin-bottom: .8rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 100%;
  transition: all .3s; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #133839; }
  .form__input:focus:invalid {
    border-bottom: 2px solid #2e7789; }
  .form__input::-webkit-input-placeholder {
    color: #999; }
  .form__input--green {
    border-bottom: 3px solid #133839; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: .2rem;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(8rem); }

.profile,
.event {
  display: flex;
  justify-content: center;
  align-items: center; }
  .profile__form,
  .event__form {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-direction: column; }
    .profile__form-fields,
    .event__form-fields {
      display: flex;
      justify-content: space-around;
      align-items: stretch; }
    .profile__form-submit,
    .event__form-submit {
      text-align: end; }
    .profile__form-img,
    .event__form-img {
      width: 150px;
      height: 150px; }
    .profile__form-left,
    .event__form-left {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between; }

.modal {
  transition: all .4s ease-out; }
  .modal-content {
    display: flex;
    flex-direction: column; }

.stories {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 75vh; }

.story {
  width: 75%;
  margin: 1rem auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 3px;
  padding: 3rem 4rem;
  padding-left: 9rem;
  font-size: 16px;
  transform: skewX(-12deg); }
  .story__shape {
    width: 10rem;
    height: 10rem;
    float: left;
    transform: translateX(-5rem) skewX(12deg);
    position: relative;
    overflow: hidden;
    border-radius: 50%; }
    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
      .story__shape {
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        border-radius: none; } }
  .story__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: all .5s; }
  .story__text {
    transform: skewX(12deg); }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%); }

.wave {
  fill: #fff;
  position: absolute;
  bottom: 0; }

.error-msg {
  font-size: 32px;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .error-msg > h2 {
    text-align: center;
    max-width: 800px; }

.footer {
  background-color: #333;
  padding: 5rem 0;
  font-size: 1rem;
  color: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 2rem; }
  .footer__logo {
    width: 15rem;
    height: auto;
    fill: #2e7789;
    animation: changeColor 5s ease infinite; }
  .footer__navigation {
    border-top: 1px solid #777;
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center; }
  .footer__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    width: 50vw; }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    background-color: #333;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    text-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.6);
    color: #2e7789; }

.header {
  background-image: url("./../assets/images/header-2.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  position: fixed;
  width: 100%;
  z-index: 99;
  padding: 1rem 0;
  box-shadow: none;
  height: 5rem; }
  .navbar__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 75vw; }
  .navbar__item {
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: "Anton", sans-serif;
    letter-spacing: .5rem;
    transition: all .8s ease;
    text-decoration: none; }
    .navbar__item:hover {
      opacity: .8;
      transform: rotate(-5deg); }

.nav-wrapper {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center; }

.cards__section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 2rem 0;
  padding: 4rem 2rem; }

.welcome__section {
  display: flex;
  justify-content: center;
  padding-top: 10rem; }
  .welcome__section h1 {
    width: 50%;
    text-align: center; }

.event-presentation {
  width: 80%;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .event-presentation__section {
    display: flex;
    justify-content: center;
    align-items: center; }
  .event-presentation__card {
    width: 400px; }
  .event-presentation__details {
    position: relative; }
    .event-presentation__details-header {
      display: flex;
      align-items: center; }
    .event-presentation__details-img {
      width: 100px;
      height: 100px;
      margin-right: 1rem; }
  .event-presentation__subscribed {
    width: 50px;
    height: 50px;
    border-radius: 50%; }

.collection-header {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.events-section {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 2rem 0;
  padding: 4rem 2rem; }

.section-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 0 5rem 15rem; }
  .section-about__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
  .section-about__text {
    max-width: 45vw; }
  .section-about__cards {
    max-width: 40vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; }

.section-stories {
  position: relative;
  padding: 5rem 0; }

.section-book {
  padding: 10rem 15rem;
  background-image: linear-gradient(to bottom, #133839, #333); }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../assets/images/nat-10.jpg);
  background-size: cover;
  border-radius: 8px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  .book__form {
    width: 50%;
    padding: 3rem 4rem; }
